@import url(https://fonts.bunny.net/css?family=aleo:700);

html {
    background: black;
    color: white;
    width: auto;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#grid-parent {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    overflow: hide;
}

h1, h2{
    font-size: 4em;
    margin: 0 0 0.25em;
    font-family: Aleo, Arial, sans-serif;
}

h2 {
    font-size: 2.5em;
}

/* THE BUTTON */
.button-28 {
  appearance: none;
    width: 300px;
  background-color: transparent;
  border: 2px solid #8a8a8a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #70706f;
  cursor: pointer;
  display: inline-block;
    font-family: monospace;
  font-size: 16px;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 80%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  border: 2px solid #1A1A1A;
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

#button-box{
    display: flex;
    height:auto;
    justify-content: center;
}

@media only screen and (max-width: 890px) {
    .button-28{
        width: 100%;
        margin: 0 0.25rem;
    }
    
    h1{
        margin-left: 0.25rem;
    }
}

/* room738 tag*/
.room-tag{
    position:absolute;
    bottom: 0;
    margin-bottom: 20px;
}

#room-text{
    text-decoration: none;
    color: white;
    font-size:1em;
    font-family: monospace;
}

#ch:hover{
    background-color: #498447;
}

#ff{
    margin: 0 1em;
}

#ff:hover{
    background-color:#ad3121;
}

/* no space btwn buttons when they wrap */
@media only screen and (max-width: 593px){
    #ff{
        margin: 0;
    }
}

/* no download button on mobile*/
@media only screen and (max-width: 480px) {
    #ch{
        display: none;
    }
    #ff{
        display: none;
    }
}

#more:hover{
    background-color:#1f6da1;
}

#text-parent {
    font-size: 1.25em;
    font-family: Arial;
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 97vh;
    overflow: hide;
    margin: 0 10em;
}

